.footer_brand {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #25252D;
    p {
        color: white;
        padding: 35px 70px;
        font-size: 18px;
        text-align: center;
    }
}