#main_background {
    background-color: #FFFEF8;
    padding-bottom: 50px;
    p {
        font-size: 20px;
        color: #707070;
        padding-top: 75px;
    }
}

.main_bg_tittle {
    padding-left: 20px 0px;
}

.main_bg_line {
    border-bottom:10px solid #707070;
    width: 180px;
}